:root {
    --font-primary: "Inria Serif", sans-serif;
    --font-primary-color: #fafdea;
    --color-bg: #fafdea;
    --color-bege: #ccc9aa;
    --color-roxo: #4f2c4d;
} 

body {
    font-family: var(--font-primary);
    background: linear-gradient(45deg, #ccc9aa, #4f2c4d, #7d677e);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.Login-container {
    background-color: var(--color-bg);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #7d677e;
    max-width: 400px;
    width: 100%;
    height: auto;
    position: relative;
}

.logo {
    background-image: url('./img/logo2.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 250px;
    height: 250px;
    margin: 0 auto; /* Centraliza horizontalmente */
    margin-bottom: 20px; /* Adiciona espaço abaixo da logo */
}

.input-container {
    margin-bottom: 20px; /* Adiciona espaço abaixo dos inputs */
    margin-top: 40px; /* Reduz o espaço entre os inputs e o logo */
}

input[type="text"],
input[type="password"] {
    width: calc(100% - 20px); /* Largura ajustada para 100% - 20px para margens */
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 15%;
    border-color: #7d677e;
    border-radius: 3px;
    font-family: var(--font-primary);
    box-sizing: border-box;
    background-color: var(--color-bege); /* Cor de fundo */
    margin-top: 10px; /* Ajusta o espaço entre o texto e a borda superior */
}

input[type="text"]::placeholder,
input[type="password"]::placeholder {
    color: var(--font-primary-color); /* Cor do texto de placeholder */
    text-align: center; /* Centraliza o texto de placeholder */
}

button {
    background-color: #360b41;
    color: #fff;
    padding: 10px 70px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: var(--font-primary);
    text-align: center;
    display: block; /* Transforma o botão em um bloco */
    margin: 0 auto; /* Centraliza horizontalmente */
    margin-top: 8%;
}