<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vinheria Agnello</title>
    <!-- Importe CSS -->
    <link rel="stylesheet" href="../css/styles.css" />
    <!-- Importe Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inria+Serif&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <div class="logo-container">
            <a href="home.html">
                <img src="../img/logo.png" alt="Logo da Vinheria Agnello" />
            </a>
        </div>
        <nav>
            <ul class="no-decoration-list">
                <li>
                    <a href="home.html">Home</a>
                </li>
                <li><a href="login.html">Login</a></li>
                <li><a href="carrinho.html">Carrinho</a></li>
                <li><a href="contato.html">Contato</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="carrinho-container">
            <div class="titles">
                <h1>Itens</h1>
                <h1>Preço</h1>
                <h1>Quantidade</h1>
            </div>

            <div class="line"></div>

            <div class="list">
                <p id="wines-list"></p>
                <p id="prices-list"></p>
                <div class="qtd-list">
                    <input id="qtd" type="number" function="recalcular()" min="0">
                    <p id="qtd-total"></p>
                </div>
            </div>

            <h2 id="total"></h2>

            <div class="line"></div>

            <div class="cupom-container">
                <input id="cupom" type="text" placeholder="Cupom de desconto">  
            </div>

            <div class="checkout-container">
                <button id="btn-checkout" function="finalizar()">Finalizar compra</button>
            </div>
        <div/>
    </main>
    
    <!-- Importe JS -->
    <script src="../js/carrinho.js"></script>
</body>
</html>