<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vinheria Agnello</title>
    <!-- Importe CSS -->
    <link rel="stylesheet" href="../css/login.css">
</head>
<body>
    <div class="Login-container">
        <div class="logo">
            <img src="../img/logo2.png" alt="logo">
        </div> 
        <form action="#" method="POST" id="loginForm">
            
            <button type="button" onclick="showLoginForm()">Sou menor de idade</button>
            <button type="button" id="redirecionar">sou maior de idade</button>
            <p class="general-error-message" id="general-error"></p> <!-- Mensagem de erro geral -->
            

        </form>
    </div>
  
    <script>
        // Adicionando a função para redirecionar ao clicar no botão
        document.getElementById("redirecionar").addEventListener("click", function() {
            window.location.href = "./login.html";
        });
    </script>
    
    </script>
</body>
</html>
