<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vinheria Agnello</title>
    <!-- Importe CSS -->
    <link rel="stylesheet" href="../css/login.css" />
  </head>
  <body>
    <div class="Login-container">
      <div class="logo">
        <img src="../img/logo2.png" alt="logo" />
      </div>
      <button type="button" onclick="sairDoSite()">
        Tenho menos de 18 anos
      </button>
      <button type="button" id="redirecionar" onclick="irParaLogin()">Sou maior de idade</button>
    </div>
    <script src="../js/maioridade.js"></script>
  </body>
</html>
